.card {
    position: relative;

    &__fade_in {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.5s forwards;
    }

    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__raiting {
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 20px;
        width: 37px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        background-color: #00A340;
    }

    &__average_raiting {
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 20px;
        width: 37px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        background-color: #F3A608;
    }

    &__bad_raiting {
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 20px;
        width: 37px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        background-color: #F45D2D;
    }

    &__very_bad_raiting {
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 20px;
        width: 37px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        background-color: #FF5154;
    }

    &__wrapper_img {
        position: relative;
        padding-top: 133%;
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 24px;
        max-width: 266px;
        transition: all .5s linear;

        &:hover {
            box-shadow: 0px 0px 67px -3px rgba(123, 97, 255, 0.73);
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__img_404 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #AFB2B6;
    }

    &__title {
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        max-width: 266px;
        width: 100%;
        margin-bottom: 4px;
    }

    &__genres {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #AFB2B6;
        display: flex;
        align-items: center;
        column-gap: 20px;
        position: relative;
        text-transform: capitalize;
    }
}

.container {
    position: relative;
}